<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
          {{#link-to "index" class="navbar-brand"}}
              VW TDI Buyback Calculator
          {{/link-to}}
        </div>
    </div>
</nav>
<div class="container">
  {{outlet}}
</div>